@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(199, 199, 199);
    text-align: center;
}

header{
    background-color: rgb(141, 139, 139);  
    color: white;
    padding-top: 20px;
    overflow: hidden;
}

header > h1{
    margin-bottom: 20px;
}

header > span{
    background-color: rgb(48, 47, 47);
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

header > span:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

nav{
    display: none;
}

nav > a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(88, 88, 88);
    padding: 10px;
    margin: 1px 0px 0px 0px;
}

nav > a:hover{
    background-color: rgb(134, 133, 133);
}

main{
    background-color: rgb(228, 228, 228);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
}

main > p{
    text-align: justify;
    padding: 10px;
    text-indent: 20px;
}